/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #bef264; /* That specific Aziz Green */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

/* Custom selection color like Aziz's site */
::selection {
  background: var(--accent-color);
  color: black;
}