@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #bef264;
}

* {
  cursor: none !important; /* Forces use of custom cursor */
}

.mix-blend-difference {
  mix-blend-mode: difference;
  background-color: white; /* In 'difference' mode, White background makes the cursor invert the colors beneath it */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--accent);
  color: black;
}
.outline-text {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.outline-text:hover {
  color: black;
}